

{% extends "dashboard/base.html" %} 

{% block content %}
{% load crispy_forms_tags %}



  {% if user.role.role == 'DEPARTMENT CHAIRPERSON'  and form.created_for == user.instance %}

        <!-- <form method="POST"> -->
        {% csrf_token %}
        <!-- <fieldset class=""> -->
            <legend class="border-bottom mb-4">List of Forms </legend>
            <div class="row">
               
                    
                   
                   {% for mem in members %}
                           
                    <!-- qwe
                        
                        {% if form.created_by == user  %}
                        <h2><a class="article-title" href="{% url 'form-detail' form.id %}">{{ form.title}}</a></h2>
                        {% endif %} -->
                        
                       
                       {% for a in accr_type %}
                       
                       {% for f in f %}
                       
                       {% if f.created_for.program == mem.program.program  and f.type_of_accreditation.id == pk and a.id == 1%}
                       {% if f.is_active == True %}
                       <div class="col-lg-3 p-2">
                        <div class="payment-card">
                          <div class="ibox-content text-center" style="justify-content: center">
                              <a href="{% url 'form-detail' f.id %}">
                            <h4 class="card-title">{{ f.type_of_accreditation}}</h6>
                            <h7 class="card-title">{{ f.created_for}}</h7>
                            
                            
                            
                                <img class="avatar" src="/media/{{f.type_of_accreditation.image}}" alt="..." style="width: 50%">
                                <h2 class="card-title">{{ f.year}}</h2>
                                <div class="progress progress-mini">
                                    <div style="width: {{f.percent}}%;" class="progress-bar"></div>

                                </div>
                                <div>{{f.percent}}%</div>
                            </a> </div>
                        </div>
                      </div>
                       {% endif %}
                       <!-- is active -->
                       {% endif %}
                       {% endfor %}
                       {% endfor %}
                           
                   {% endfor %} <!--mem in members-->
                       
                          
                              
            
                    
           
</div>
<!-- </fieldset> -->

<!-- </form> -->


  {%else%}
  Oops page not found!
  {% endif %}
{% endblock %}