{% extends 'dashboard/base.html'%}
{% load crispy_forms_tags%}




{% block content %}

{% if user.role.role == 'COLLEGE DEAN' %}
<form method="POST">
        {% csrf_token %}
        <!-- <div>Add comment:</div> -->
        <div class="col-md-6">{{form|crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endif %}
  <div class="col-md-6" s>
        <div>This is the comments:<a href="javascript:history.back()" class="btn btn-primary btn-xs navbar-right ">BACK</a></div>
    
    {% for comments in comments %}
    
        <div></div>
        <blockquote class="blockquote">
          <p class="mb-0">{{comments.comment}}.</p>
          <footer class="blockquote-footer">by <cite title="Source Title">{{comments.user.first_name}} {{comments.user.last_name}}<small>{{comments.timestamp}}</small></cite></footer>
          <a href="{% url 'comment-delete' comments.id%}">DELETE</a>
        </blockquote>
        
    {% endfor %}
    
    
  </div>
  

{% endblock content %}