{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}




<div class="row justify-content-center" style="margin-bottom: 4rem">
  <div class="col-md-12 ">
    <div class="content-section">
      <form action="" method="POST">
            {% csrf_token %}
            
        {% if object %}
          {% for f in f %}

          
          {% if object.title.id == f.id %}
            
          {% if  user.program.program == f.created_for.program  or  user == f.created_by %} 
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ object.title }}</legend>
            
          <div class="form-row">
                  <div class="form-group col-md-12 mb-0">Accreditation Type: {{ object.title.type_of_accreditation }}    
                  </div>
                </div>
        
                <table class="table table-sm table-responsive table-striped table-bordered " ">
                    <thead class="text-center">
                        <tr>
                            <th class=" col-md-4 pt-3">Criteria{% if f.created_by == user %}
                                <a href="{% url 'division-create' object.title.id%}"><i class="fa fa-plus"></i></a>
                                {% endif %}</th>
                            <th class=" col-md-1 pt-3">Weight</th>
                            <th class=" col-md-1 pt-3">Breakdown</th>
                            <th class=" col-md-2 pt-3">Remarks</th>
                            <th class=" col-md-2 pt-3">Subpoints</th>
                            <th class=" col-md-1 pt-3">Points</th>
                            <th class=" col-md-1 pt-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
              
              {% for d in d %}
                  
              
                  {% if d.title.id == object.title.id  %}
                    {% if object.id == d.id %}
                    
                      <tr>
                          <td class="form-group col-md-4 mb-0" ><strong>{{form.criteria}} </strong>   
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong></strong>
                          </td>
    
                          <td class="form-group col-md-2 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-2 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong>{{d.total}}</strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><button class="btn btn-primary fa fa-check dim" type="submit"></button>
                            
                          </td>
                      </tr>
                    
                  
                    {% else %} 
                     
                      <tr>
                          <td class="form-group col-md-4 mb-0"><strong>{{d.criteria}}</strong>   
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong></strong>
                          </td>

                          <td class="form-group col-md-2 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-2 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><strong></strong>
                          </td>
                          <td class="form-group col-md-1 pt-3 "><a href="{% url 'division-update' d.id%}"><i class="btn btn-secondary fa fa-edit"></i></a>
                          </td>
                      </tr>    
                      
                    {% endif %}
                      
                    
                  {% for s in sd %}
                  {% if s.division.id == d.id %}
                      <tr>
                          <td class="form-group col-md-4 mb-0">{{s.criteria}}    
                            </td>
                            <td class="form-group col-md-1 mb-0">{{s.points}}    
                            </td>
                            <td class="form-group col-md-1 pt-3 "><strong></strong>
                            </td>
  
                            <td class="form-group col-md-2 pt-3 "><strong></strong>
                            </td>
                            <td class="form-group col-md-2 pt-3 "><strong></strong>
                            </td>
                            <td class="form-group col-md-1 pt-3 "><strong>{{s.total}}</strong>
                            </td>
                            <td class="form-group col-md-1 pt-3 "><a href="{% url 'subdivision-update' s.id%}"><i class="btn btn-secondary fa fa-edit"></i></a>
                            </td>
                      </tr>
                      
                      {%endif%}
                      
                      
                    
                      
                    
                    {% for x in sdd %}
                    
                      {% if x.subdivision.id == s.id and s.division.id == d.id %}
                        
                      
                        <tr>
                            <td class="form-group col-md-4 mb-0"> {{x.criteria}}    
                              </td>
                              <td class="form-group col-md-1 mb-0 "> {{x.points}}    
                                </td>
                                <td class="form-group col-md-1 mb-0"> {{x.subpoints}}    
                                  </td>
                                  <td class="form-group col-md-2 mb-0"> {{x.remarks}}    
                                    </td>
                                    <td class="form-group col-md-1 mb-0"> {{x.subtotal}}    
                                      </td>
                                      <td class="form-group col-md-2 mb-0"> {{x.total}}    
                                        </td>
                                        <td class="form-group col-md-1 pt-3 "><a href="{% url 'subdivisiondetail-update' x.id%}"><i class="btn btn-secondary fa fa-edit"></i></a>
                                        </td>
                        </tr>
                        </tbody>
                
                      </fieldset>
                      
                        {% endif %}
                    {% endfor %}
                      
                    
                  {% endfor %}
                  
                  {% endif %}
              {% endfor %}
                
            </table>
            
                
              {% else %}
              Oops... PAGE NOT FOUND
            {% endif %}
            {% endif%}  
            {% endfor %}
          
        {% else %}
          
          
          
          
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Major Criteria</legend>
                <div class="form-row">
                  <div class="form-group col-md-auto mb-0">
                    
                    {{ form.criteria | as_crispy_field}}
                    
                    
                      
                  </div>
                </div>
               {% if object %}
                  <button class="btn btn-primary dim" type="submit">
                  Update
                  </button>
                {%else%}
                  <button class="btn btn-primary dim" type="submit">
                    Add
                  </button>
               {% endif %}
              </fieldset>
            
          
            
          
        {% endif %}


        
    

    </form>
</div>
</div>
</div>

{% endblock%}