{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}


{% for f in f %}

{% if  user.program.program == f.created_for  or  user == f.created_by %}
<div class="row justify-content-center">
  <div class="col-md-12 ">
    <div class="content-section">
      <form action="" method="POST">
            {% csrf_token %}
            
        {% if object %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ object.title }}</legend>
            
          <div class="form-row">
                  <div class="form-group col-md-12 mb-0">Accreditation Type: {{ object.title.type_of_accreditation }}    
                  </div>
                </div>
        
          <div class="form-row border-bottom border-top mt-4 mb-4">
                <div class="form-group col-md-4 pt-3 "><strong>Criteria</strong>
                </div>
                <div class="form-group col-md-1 pt-3 "><strong>Weight</strong>
                  </div>
                <div class="form-group col-md-1 pt-3 "><strong>Breakdown</strong>  
                    </div>
                    <div class="form-group col-md-2 pt-3 "><strong>Remarks</strong>
                    </div>
                    <div class="form-group col-md-2 pt-3 "><strong>Subpoints</strong>
                    </div>
                    <div class="form-group col-md-1 pt-3 "><strong>Points</strong>
                    </div>
                    <div class="form-group col-md-1 pt-3 "><strong>Action</strong>
                    </div>
              </div>
              
              
              {% for d in d %}
                  
              
                  {% if d.title.id == object.title.id  %}
                    {% if object.id == d.id %}
                    <div class="form-row">
                      <div class="form-group col-md-4 mb-0" ><strong>{{form.criteria}} </strong>   
                      </div>
                      <div class="form-group col-md-1 pt-3 "><strong></strong>
                      </div>
                      <div class="form-group col-md-1 pt-3 "><strong></strong>
                      </div>

                      <div class="form-group col-md-2 pt-3 "><strong></strong>
                      </div>
                      <div class="form-group col-md-2 pt-3 "><strong></strong>
                      </div>
                      <div class="form-group col-md-1 pt-3 "><strong></strong>
                      </div>
                      <div class="form-group col-md-1 pt-3 "><button class="btn btn-outline-primary" type="submit">Save</button>
                        
                      </div>
                    </div>
                    
                  
                    {% else %} 
                      <div class="form-row">
                          <div class="form-group col-md-4 mb-0"><strong>{{d.criteria}}</strong>   
                          </div>
                          <div class="form-group col-md-1 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-1 pt-3 "><strong></strong>
                          </div>

                          <div class="form-group col-md-2 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-2 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-1 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-1 pt-3 "><a href="{% url 'division-update' d.id%}">Update</a>
                          </div>
                      </div> 
                    {% endif %}
                      
                    
                  {% for s in sd %}
                  {% if s.division.id == d.id %}
                      <div class="form-row">
                          <div class="form-group col-md-4 mb-0">{{s.criteria}}    
                          </div>
                          <div class="form-group col-md-1 mb-0">{{s.points}}    
                          </div>
                          <div class="form-group col-md-1 pt-3 "><strong></strong>
                          </div>

                          <div class="form-group col-md-2 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-2 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-1 pt-3 "><strong></strong>
                          </div>
                          <div class="form-group col-md-1 pt-3 "><a href="{% url 'subdivision-update' s.id%}">Update</a>
                          </div>
                        </div>
                      
                      {%endif%}
                      
                      
                    
                      
                    
                    {% for x in sdd %}
                    
                      {% if x.subdivision.id == s.id and s.division.id == d.id %}
                        
                      
                        <div class="form-row">
                          <div class="form-group col-md-4 mb-0"> {{x.criteria}}    
                          </div>
                          <div class="form-group col-md-1 mb-0 "> {{x.points}}    
                            </div>
                            <div class="form-group col-md-1 mb-0"> {{x.subpoints}}    
                              </div>
                              <div class="form-group col-md-2 mb-0"> {{x.remarks}}    
                                </div>
                                <div class="form-group col-md-1 mb-0"> {{x.subtotal}}    
                                  </div>
                                  <div class="form-group col-md-2 mb-0"> {{x.total}}    
                                    </div>
                                    <div class="form-group col-md-1 pt-3 "><a href="{% url 'subdivisiondetail-update' x.id%}">Update</a>
                                    </div>

                        </div>
                        {% endif %}
                    {% endfor %}
                      
                  {% endfor %}
                  
                  {% endif %}
              {% endfor %}
                
                
                
              
          </fieldset>
        {% else %}
          
          
          
          {% for d in d %}
            {% if f.id == d.title.id %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Major Criteria</legend>
                <div class="form-row">
                  <div class="form-group col-md-auto mb-0">
                    
                    {{ form.criteria | as_crispy_field}}
                    
                    
                      
                  </div>
                </div>
               {% if object %}
                  <button class="btn btn-outline-danger" type="submit">
                  Update
                  </button>
                {%else%}
                  <button class="btn btn-outline-danger" type="submit">
                    Add
                  </button>
               {% endif %}
              </fieldset>
            {% endif %}
          {% endfor %}
            
          
        {% endif %}


        
    

    </form>
</div>
</div>
</div>
{% else %}
  Oops... PAGE NOT FOUND
{% endif %}
{% endfor %}
  
  
{% endblock%}