{% extends "dashboard/base.html" %} 

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
        <div class="col-md-12 ">
        <div class="content-section">
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Division</legend>
                <div class="form-row border-bottom border-top mt-4 mb-4">
                        <div class="form-group col-md-4 pt-3 "><strong>Criteria</strong>
                        </div>
                        <div class="form-group col-md-1 pt-3 "><strong>Weigh</strong>
                          </div>
                        <div class="form-group col-md-1 pt-3 "><strong>Breakdown</strong>  
                            </div>
                            <div class="form-group col-md-2 pt-3 "><strong>Remarks</strong>
                            </div>
                            <div class="form-group col-md-2 pt-3 "><strong>Subpoints</strong>
                            </div>
                            <div class="form-group col-md-2 pt-3 "><strong>Points</strong>
                            </div>
                      </div>
                <div class="form-row">
                    
                <div class="form-group col-md-12 mb-0">

                  
                        {% for d in d %}
                        
                        
                            {% if d.id == forms.id  %}
                              
                            
                      <div class="form-row">
                          <div class="form-group col-md-2 mb-0"><strong>{{d.criteria}} </strong>   
                          </div>
                        </div>
                    {% for s in sd %}
                        {% if s.division.id == d.id %}
                        <div class="form-row">
                          <div class="form-group col-md-4 mb-0"><a href="{% url 'subdivision-detail' s.id %}">{{s.criteria}} </a>   
                          </div>
                          <div class="form-group col-md-2 mb-0">{{s.points}}    
                          </div>
                        </div>
                        {% endif %}
                        
                      
                      
                      {% for x in sdd %}
                        
                      {% if x.subdivision.id == s.id and s.division.id == d.id %}
                          <div class="form-row">
                            <div class="form-group col-md-4 mb-0"> {{x.criteria}}    
                            </div>
                            <div class="form-group col-md-1 mb-0 "> {{x.points}}    
                              </div>
                              <div class="form-group col-md-1 mb-0"> {{x.subpoints}}    
                                </div>
                                <div class="form-group col-md-2 mb-0"> {{x.remarks}}    
                                  </div>
                                  <div class="form-group col-md-2 mb-0"> {{x.subtotal}}    
                                    </div>
                                    <div class="form-group col-md-2 mb-0"> {{x.total}}    
                                      </div>
                          </div>
                          {% endif %}
                      
                      {% endfor %}
                        
                    {% endfor %}
                    {% endif %}
                {% endfor %}
                        <button class="btn btn-outline-primary" type="submit">
                            
                                <a href="{% url 'division-update' object.id %}">Update Division</a>
                                </button>
                                <button class="btn btn-outline-primary" type="submit">
                            
                                        <a href="{% url 'subdivision-create' %}">Add Subdivision</a>
                                        </button>
                                        
                                                <button class="btn btn-outline-danger" >
                                                    <a href="{% url 'division-delete' object.id %}"> Delete Division</a>
                                                     </button>
                </div>
</div>
</fieldset>

</form>
</div>
</div>
</div>
{% endblock %}