{% extends 'dashboard/base.html' %}

{% block content %}
{% load crispy_forms_tags %}



<div class="container card p-5 col-md-12" style="margin-top: 4rem;box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 5px 8px 0px rgba(0, 0, 0, 0.14),
0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: rgba(85, 85, 85, 0.12);border-top: 2px solid rgb(15, 15, 15)">
   
    <div class="float-right">
        
            <a href="{% url 'subdivisiondetail-detail' pk %}" class="btn btn-danger float-right"> <small class="">x</small></a>

    </div>
<h2>Files</h2>
<p>
    <a href="{% url 'upload_file' pk %}" class="btn btn-primary btn-sm" >Upload file</a>
    
</p>


<table class="table mb-0">
    <thead>
        <tr>

            <th>For</th>
            <th>File name</th>
            <th>Note</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
        
        
            
       
            
            
        {% for file in files %}
       
            {% if pk == file.subdivisiondetail.id  %}
            <tr>
                    <td>{{ file.subdivisiondetail.criteria   }}</td>
                    <td>{{ file.name }}</td>
                    <td>
                     
                      {% if file.note_from_audited != "" or user.role.role == 'COLLEGE DEAN' %}
                      <a  href="{% url 'update-note' file.id%}" class="btn btn-primary btn-sm glyphicon glyphicon-comment  " >
                        
                      </a>
                      {% endif %}
                          
                    </td>
                    <td>
                        <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank">
                            Download File
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{% url 'delete_file' file.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        
    </tbody>
</table>

</div>

{% endblock %}