{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
    
    {% if user.role.role == 'DEAN' %}
    <div class="row justify-content-center">
      <div class="col-md-auto ">
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Today</legend>
              <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form| crispy  }}
                  
                  
                    
                </div>
              </div>
              <button class="btn btn-outline-danger" type="submit">
                  Add
             </button>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    {% else %}
      Oops.. PAGE NOT FOUND
    {% endif %}
      
{% endblock%}
