{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
      <div class="col-md-10 ">
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">{{ object.title }}</legend>
              
            <div class="form-row">
                    <div class="form-group col-md-6 mb-0">Accreditation Type: {{ object.form_type }}    
                    </div>
                  </div>
           
            <div class="form-row border-bottom border-top mt-4 mb-4">
                  <div class="form-group col-md-2 pt-3 "><strong>Criteria</strong>
                  </div>
                  <div class="form-group col-md-2 pt-3 "><strong>Weigh</strong>
                    </div>
                  <div class="form-group col-md-2 pt-3 "><strong>Breakdown</strong>  
                      </div>
                      <div class="form-group col-md-2 pt-3 "><strong>Remarks</strong>
                      </div>
                      <div class="form-group col-md-2 pt-3 "><strong>Subpoints</strong>
                      </div>
                      <div class="form-group col-md-2 pt-3 "><strong>Points</strong>
                      </div>
                </div>
                
                
                {% for x in sdd %}
                  
                  
                  
                  <div class="form-row">
                      <div class="form-group col-md-2 mb-0">{{x.criteria}}    
                      </div>
                      <div class="form-group col-md-2 mb-0">{{x.points}}    
                        </div>
                        <div class="form-group col-md-2 mb-0">{{x.subpoints}}    
                          </div>
                          <div class="form-group col-md-2 mb-0">{{x.remarks}}    
                            </div>
                            <div class="form-group col-md-2 mb-0">{{x.subtotal}}    
                              </div>
                              <div class="form-group col-md-2 mb-0">{{x.total}}    
                                </div>
                    </div>
                    
                {% endfor %}
                  
                  
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">   
                    </div>
                  </div> 
            </fieldset>
        <button class="btn btn-outline-danger" type="submit">
             Save
        </button>
        </form>
    </div>
</div>
</div>
{% endblock%}