

{% extends "dashboard/base.html" %} 

{% block content %}
{% load crispy_forms_tags %}

<form method="POST" load-url="{% url 'load-forms'%}" novalidate>
  <label>Select Year:</label>
  <select class="country">
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
  </select>
  
</form>

  {% if user.role.role == 'COLLEGE DEAN'  and form.created_by == user.instance %}

        <!-- <form method="POST"> -->
        {% csrf_token %}
        <!-- <fieldset class=""> -->
            <legend class="border-bottom mb-4">List of Forms <a href="{% url 'form-create' a %}"><i class="fa fa-plus"></i></a></legend>
            <div class="row" id="forms_dean" >
               
            
                       
                    <!-- 
                        
                        {% if form.created_by == user  %}
                        <h2><a class="article-title" href="{% url 'form-detail' form.id %}">{{ form.title}}</a></h2>
                        {% endif %} -->
                        
                        {% for f in f %}
                        
                            {% if f.created_by == user  %}
                            
                            
                            
                              {% if f.year == year and f.type_of_accreditation.id == a  %}
                                
                              
                              
                                
                              
                                
                              <div class="col-lg-3 p-2">
                                              <div class="ibox float-e-margins">
                                                <div class="ibox-content text-center" style="justify-content: center">
                                                    <a href="{% url 'form-detail' f.id %}">
                                                  <h4 class="card-title">{{ f.type_of_accreditation}}</h6>
                                                  <h7 class="card-title">{{ f.created_for}}</h7>
                                                  
                                                  
                                                  
                                                      <img class="avatar" src="/media/{{f.type_of_accreditation.image}}" alt="..." style="width: 50%">
                                                      <h2 class="card-title">{{ f.year}}</h2>
                                                      <div class="progress progress-mini">
                                                          <div style="width: {{f.percent}}%;" class="progress-bar"></div>

                                                      </div>
                                                      <div>{{f.percent}}%</div>
                                                  </a> </div>
                                              </div>
                                            </div>
                              
                              
                                            
                              
                                      
                              {% endif %} 
                              <!-- end of year and type of -->
                
        
                          {% endif %}
                          <!-- end of f.created -->
                    {% endfor %}
                    <!-- end of for f in f -->
                              
            
                    
            </div>

<!-- </fieldset> -->

<!-- </form> -->


  {%else%}
  Oops page not found!
  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
    $("select.country").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        var url = $("#forms_dean").attr("load-url");
        console.log(selectedCountry);

        $.ajax({                       // initialize an AJAX request
        url: url,              // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'year': selectedCountry       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          // location.html(data)
          $("#forms_dean").html(data)
          console.log("Bobo"); // replace the contents of the city input with the data that came from the server
        }
      });

    });
});
 </script>
{% endblock %}