{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content   %}
    
   <div class="container ">
      {% if user.role.role == 'COLLEGE DEAN' %}
    <div class="row justify-content-center">
      <div class="col-md-auto ">
        <div class="content-section">
          <form method="POST" id="formForm" data-college-url="{% url 'ajax_load_college' %}" data-program-url="{% url 'ajax_load_program' %}" novalidate>
                {% csrf_token %}
            {% if object %}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Accreditation</legend>
                <div class="form-row">
                  <div class="form-group col-md-12 mb-0">
                    {{ form| crispy  }}
                    
                    
                      
                  </div>
                  
                </div>
                <button class="btn btn-primary dim" type="submit" style="margin-bottom: 4rem">
                    Update
               </button>
               
              </fieldset>
            {% else %}
              <fieldset class="form-group">
              <legend class="border-bottom mb-4">Add Accreditation</legend>
              <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form| crispy  }}
                  
                  
                    
                </div>
                
              </div>
              <button class="btn btn-primary dim" type="submit" style="margin-bottom: 4rem">
                  Add
             </button>
             
            </fieldset>
            {% endif %}
            
            </form>
          </div>
        </div>
      </div>
    {% else %}
      Oops.. PAGE NOT FOUND
    {% endif %}
      
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
        // $("#id_role").change(function (e) {
          
        //   var url = $("#formForm").attr("data-college-url");  // get the url of the `load_cities` view
        //   var roleId = $(this).val();  // get the selected country ID from the HTML input
        //   console.log(roleId)
        //   $.ajax({                       // initialize an AJAX request
        //     url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        //     data: {
        //       'role': roleId       // add the country id to the GET parameters
        //     },
        //     success: function (data) {   // `data` is the return of the `load_cities` view function
        //       $("#id_college").html(data);  // replace the contents of the city input with the data that came from the server
        //     }
        //   });
    
        // });
        $("#id_college").change(function (e) {
          var url = $("#formForm").attr("data-program-url");  // get the url of the `load_cities` view
          var collegeId = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'college': collegeId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_created_for").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
      </script>
{% endblock%}
