<!-- <h1 class="mb-5">Progress...</h1> -->
<div style="margin-bottom: 4rem"></div>
<!-- {% for mem in members %} -->

        {% if user.role.role == 'VPAA' %}

        <div class="row">
          {% if mem.college.college == 'College of Information Technology Education' %}
          <div class="col-md-auto">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">College of Info. Technology Education</h5>
                <img class="mx-auto d-block " style="height: 200px; width: 200px; padding: 2%; justify-content: center"
                  src="https://cdn1.iconfinder.com/data/icons/charts-2/304/Untitled-41-512.png">
              </div>
            </div>
          </div>
          {% elif mem.college.college == 'College of Engineering and Architecture' %}
          <div class="col-md-auto">
            <div class="card">
              <div class="card-body" style="justify-content: center">
                <h5 class="card-title">College of Engineering and Architecture</h5>
                <img class="mx-auto d-block " style="height: 200px; width: 200px; padding: 2%; justify-content: center"
                  src="https://cdn1.iconfinder.com/data/icons/charts-2/304/Untitled-35-512.png">
              </div>
            </div>
          </div>
        </div>



        {% endif %}



        {% elif user.role.role == 'COLLEGE DEAN' %}
        
        {% if user.college.college == "College of Information Technology Education" %}

          
            
          <div class="row container "  >

            <div class="col-md-9">
                
                
                
                  
                    
                      <div class="payment-card" id="the_year" >
                        
                            {% for a in accr_type %}
                        
                            {% for f in f %}
                            
                              {% if f.year == year and f.id  == 1%}
                            
                              
                                <div class="col-md-4 border" style="justify-content: center" >
                                    <a href="{% url 'form-list' a.id %}">
                                    <div class="ibox-title text-center"  style="justify-content: center"><strong><h3>{{a.id}} {{a.type_of_accreditations}}</h3></strong></div>
                                    <!-- <div class="ibox-content"> -->
                                        <div class="ibox-content text-center">
                                      
                                        <img class="avatar" src="/media/{{a.image}}" alt="..." style="width: 50%">
                                    </a>
                                  </div>
                                  
                              
                          </div>
                              
                              
                              
                              {% endif %}
                            {% endfor %}
                              
                            {% endfor %} 
                        </div>
                        
                    
                    
                      
                        </div>
           


                
            
            <!-- <div class="col-sm-2">
                </div>
                
                        
                        {% for f in f %}
                        
                        <div class="col-sm-4">
                            <div class="ibox float-e-margins">
                                
                                    

                              
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="doughnutChart" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                          -->
        </div>          


        <!-- end of a in accr_type -->

        <!-- <div class="container ">
          <div class="row">
            {% if mem.program.program == 'BS Information Technology' %}
            <div class="col-md-3">
              <div class="card ">
                <div class="card-body ">
                  <h5 class="card-title">Department of Info.Technology</h5>
                  <img class="mx-auto d-block " style="height: 200px; width: 200px; padding: 2%; justify-content: center"
                    src="https://cdn1.iconfinder.com/data/icons/charts-2/304/Untitled-41-512.png">
                </div>
              </div>
            </div>
            {% elif mem.program.program == 'BS Computer Science' %}
            <div class="col-md-3">
              <div class="card">
                <div class="card-body" style="justify-content: center">
                  <h5 class="card-title">Department of Computer Science</h5>
                  <img class="mx-auto d-block " style="height: 200px; width: 200px; padding: 2%; justify-content: center"
                    src="https://cdn1.iconfinder.com/data/icons/charts-2/304/Untitled-42-512.png">
                </div>
              </div>
            </div>
          </div>
        </div> -->





        {% endif %}



        {% endif %}


        {% elif user.role.role == 'DEPARTMENT CHAIRPERSON' %}
        {% if mem.program.program == 'BS Information Technology' %}




        <!-- {% for f in form %}

        {% if f.created_for.program == mem.program.program %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-body" style="justify-content: center">
              <h5 class="card-title"><a href="{% url 'form-detail' pk=f.id%}">Department of Info.Technology</a></h5>
              <a href="{% url 'form-detail' a%}"><img class="mx-auto d-block " style="height: 200px; width: 200px; padding: 2%; justify-content: center"
                src="https://cdn1.iconfinder.com/data/icons/charts-2/304/Untitled-41-512.png"></a>
            </div>
          </div>
        </div>
        {% endif %}


        {% endfor %} -->

        <div class="row container">

            <div class="row container">

                <div class="col-md-9">
                    
                    
                    
                      
                        
                          <div class="ibox">
                            
                                {% for a in accr_type %}
                            
                                {% for f in f %}
                                
                                  {% if f.year == 2019 and f.id  == 1%}
                                
                                  
                                    <div class="col-md-4 border" style="justify-content: center">
                                        <a href="{% url 'chairperson-forms' a.id %}">
                                        <div class="ibox-title text-center"  style="justify-content: center"><strong><h3>{{a.id}} {{a.type_of_accreditations}}</h3></strong></div>
                                        <!-- <div class="ibox-content"> -->
                                            <div class="ibox-content text-center">
                                          
                                            <img class="avatar" src="/media/{{a.image}}" alt="..." style="width: 50%">
                                        </a>
                                      </div>
                                      
                                  
                              </div>
                                  
                                  
                                  
                                  {% endif %}
                                {% endfor %}
                                  
                                {% endfor %} 
                            </div>
                            
                        
                        
                          
                            </div>
                </div>


                
            
           
                          
        </div> 
        
        

        {% endif %}
        {% endif %}
<!-- {% endfor %} -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
    $("select.country").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        // $("input:text").val(selectedCountry);
        console.log(selectedCountry);

        $.ajax({                       // initialize an AJAX request
        // url: $('year').attr('load-url'),                // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'year': selectedCountry       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          // location.html(data)
          console.log("Bobo"); // replace the contents of the city input with the data that came from the server
        }
      });

    });
});
 </script>
        