{% extends "dashboard/base.html" %} 

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
        <div class="col-md-10 ">
        <div class="content-section">
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Subdivision</legend>
                <div class="form-row border-bottom mb-4">
                        <div class="form-group col-md-4 mb-0">
                                Criteria
                                
                                
                        </div>
                        <div class="form-group col-md-2 mb-0">
                                Weigh
                                
                                
                        </div>
                </div>
                <div class="form-row mb-4">
                <div class="form-group col-md-4 mb-0">
                        {{object.criteria}}
                        
                        
                </div>
                <div class="form-group col-md-2 mb-0">
                        {{object.points}}
                        
                        
                </div>
</div>
<button class="btn btn-outline-danger" type="submit">
                            
        <a href="{% url 'subdivision-update' object.id %}">Update..</a>
        </button>
        <button class="btn btn-outline-danger" type="submit">
                            
                <a href="{% url 'subdivisiondetail-create'  %}">Add Detail</a>
                </button>
</fieldset>

</form>
</div>
</div>
</div>
{% endblock %}