{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}

{% for f in f %}
 {% if object.division.title.id == f.id %}
 {% if user.program.program == f.created_for.program or user == f.created_by %}
 <div class="row justify-content-center" style="margin-bottom: 4rem">
   <div class="col-md-12 ">
     <div class="content-section" style="margin-bottom: 4rem">
       <form method="POST">
             {% csrf_token %}
             
         <fieldset class="form-group">
           <legend class="border-bottom mb-4">{{ object.division.title }} 
              {% if f.created_by == user %}
              <a href="{% url 'form-update' object.division.title.id %}"><i class="fas fa-edit"></i> </a><a href="{% url 'form-delete' object.division.title.id %}"><i class="fas fa-trash"></i></a></legend>
              {% endif%}
         <div class="form-row">
                 <div class="form-group col-md-12 mb-0">Accreditation Type: {{ object.division.title.type_of_accreditation }}    
                 </div>
               </div>
        
         <div class="form-row border-bottom border-top mt-4 mb-4">
               <div class="form-group col-md-4 pt-3 "><strong>Criteria <a href="{% url 'subdivision-create' object.division.title.id%}"><i class="fas fa-plus"></i></a></strong>
               </div>
               <div class="form-group col-md-1 pt-3 "><strong>Weight</strong>
                 </div>
               <div class="form-group col-md-1 pt-3 "><strong>Breakdown</strong>  
                   </div>
                   <div class="form-group col-md-2 pt-3 "><strong>Remarks</strong>
                   </div>
                   <div class="form-group col-md-2 pt-3 "><strong>Subpoints</strong>
                   </div>
                   <div class="form-group col-md-1 pt-3 "><strong>Points</strong>
                   </div>
                   <div class="form-group col-md-1 pt-3 "><strong>Action</strong>
                   </div>
             </div>
             
             
             
             {% for d in d %}
                 
              
                 {% if d.title.id == object.division.title.id  %}
                    
                     <div class="form-row">
                         <div class="form-group col-md-4 mb-0"><strong>{{d.criteria}}</strong> 
                           {% if user == f.created_by  %}
                           <a href="{% url 'subdivision-create' d.id%}">Add Minor Criteria</a>
                           {% endif %}   
                         </div>
                         <div class="form-group col-md-1 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-1 pt-3 "><strong></strong>
                         </div>

                         <div class="form-group col-md-2 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-1 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-2 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-1 pt-3 "><a href="{% url 'division-update' d.id%}">Update</a>
                           {% if user == f.created_by %}
                           <a href="{% url 'division-delete' d.id%}">Delete</a>
                           {% endif %}
                         </div>
                     </div> 
                   
                     
                   
                 {% for s in sd %}
                 {% if s.division.id == d.id %}
                     
                     
                     
                     <div class="form-row">
                         <div class="form-group col-md-4 mb-0">{{s.criteria}}
                             {% if user == f.created_by %}
                             <a href="{% url 'subdivisiondetail-create' s.id %}">Add Subcriteria</a>
                             {% endif %}  
                           </div>
                         <div class="form-group col-md-1 mb-0">{{s.points}}    
                         </div>
                         <div class="form-group col-md-1 pt-3 "><strong></strong>
                         </div>

                         <div class="form-group col-md-2 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-2 pt-3 "><strong></strong>
                         </div>
                         <div class="form-group col-md-1 pt-3 "><strong>{{s.total}}</strong>
                         </div>
                         <div class="form-group col-md-1 pt-3 "><a href="{% url 'subdivision-update' s.id%}">Update</a>
                           {% if user == f.created_by %}
                           <a href="{% url 'subdivision-delete' s.id%}">Delete</a>
                           {% endif %}
                         </div>
                       </div>
                    
                         
                     
                     {%endif%}
                     
                     
                    
                     
                   
                   {% for x in sdd %}
                   
                     {% if x.subdivision.id == s.id and s.division.id == d.id %}
                       
                     
                       <div class="form-row">
                         <div class="form-group col-md-4 mb-0"> {{x.criteria}}    
                         </div>
                         <div class="form-group col-md-1 mb-0 "> {{x.points}}    
                           </div>
                           <div class="form-group col-md-1 mb-0"> {{x.subpoints}}    
                             </div>
                             <div class="form-group col-md-2 mb-0"> {{x.remarks}}    
                               </div>
                               <div class="form-group col-md-1 mb-0"> {{x.subtotal}}    
                                 </div>
                                 <div class="form-group col-md-2 mb-0"> {{x.total}}    
                                   </div>
                                   <div class="form-group col-md-1 mb-0"> <a href="{% url 'subdivisiondetail-update' x.id%}">Update</a>
                                     {% if user == f.created_by %}
                                     <a href="{% url 'subdivisiondetail-delete' x.id%}">Delete</a>
                                     {% endif %}    
                                   </div>
                       </div>
                      </fieldset>
                       {% endif %}
                   {% endfor %}
                     
                 {% endfor %}
                 
                 {% endif %}
             {% endfor %}
               
               
               
             
         
         {% if f.created_by == user %}
         
         {% endif%}
     
 
     </form>
 </div>
</div>
</div>
 {% endif %}
 {% endif %}
{% endfor %}
  
{% endblock%}