
{% extends 'dashboard/base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container card p-2 col-md-12" style="margin-top: 2rem;box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 5px 8px 0px rgba(0, 0, 0, 0.14),
0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: rgba(253, 253, 253, 0.12);">


        <div class="col-md-auto">
                <div class="m-5">
                       {% if object %}
                       <h2><strong> Update File</strong></h2>
                       
                       
                       <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {%block content_comment%}{%endblock content_comment%}
                        
                        
                        <!-- {% for comment in comments %}
                           <div> {{comment.comment}} - {{comment.timestamp}}</div>
                           <div>-   {{comment.user.first_name}} {{comment.user.last_name}}</div>
                        {% endfor %} -->
                            
                        {% for sd in sd %}
                        <div class="col-md-6" style="padding: 2%">For: <strong>{{sd}}</strong></div> 
                        {% endfor %}
                           
                        <div class="col-md-6 ">{{form.file|as_crispy_field}}</div>
                        <div class="col-md-6 ">{{form.filename|as_crispy_field}}</div>
                        
                        
                        
                        <div class="invisible">{{form.subdivisiondetail|as_crispy_field}}</div>
                        {% if user.role.role != 'COLLEGE DEAN' %}
                        <button type="submit" class="btn btn-success btn-outline " style="margin-bottom: 2rem">Submit</button>
                        {% else %}
                        <button type="submit" class="btn btn-success btn-outline " style="margin-bottom: 2rem">Submit</button>
                        {% endif %}
                        
                    </form>
                        {% else %}
                       <h2><strong>Upload File</strong></h2>
                       <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% for sd in sd %}
                        <div class="col-md-12" style="padding: 2%">For: <strong>{{sd}}</strong></div> 
                        {% endfor %}
                          
                        <div class="col-md-6 ">{{form.file|as_crispy_field}}</div>
                        <div class="col-md-6 ">{{form.filename|as_crispy_field}}</div>
                        
                        <div class="col-md-6"></div>    
                        
                        <div class="invisible">{{form.subdivisiondetail|as_crispy_field}}</div>
                        <button type="submit" class="btn btn-success btn-outline" style="margin-bottom: 2rem">Submit</button>
                        
                    </form>
                       {% endif %}
                </div>
        </div>

        
{% endblock %}