{% extends "dashboard/base.html" %}
{% block content %}

<style>
    .avatar {
        vertical-align: middle;
        width: 350px;
        height: 200px;
        border-radius: 20%;
    }
</style>

{% load crispy_forms_tags %}
<div class="content">

    <div class="row">
        <div class="col-md-9">


            <div class="payment-card" style="box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 5px 8px 0px rgba(0, 0, 0, 0.14),
            0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: rgba(85, 85, 85, 0.12); padding: 20px">
                <div class="">
                    <h1>Profile</h1>
                </div>

                <div class="">
                    <form>
                        <div class=" row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Company (disabled)</label>
                                    <input type="text" class="form-control" disabled="" placeholder="Company"
                                        value="Technological Institute of the Philippines">
                                </div>
                            </div>

                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" disabled="" placeholder="{{ user.email}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" disabled="" placeholder="{{ user.contact}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" disabled=""
                                        placeholder="{{ user.first_name}}">
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Middle Initial</label>
                                    <input type="text" class="form-control" disabled=""
                                        placeholder="{{ user.middle_initial}}">
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" disabled=""
                                        placeholder="{{ user.last_name}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Designation</label>
                                    <input type="text" class="form-control" disabled="" placeholder="{{ user.role}}">
                                </div>
                            </div>
                            <div class="col-md-4 px-md-1">
                                <div class="form-group">
                                    <label>College</label>
                                    <input type="text" class="form-control" disabled=""
                                        placeholder="{{ user.college.college}}">
                                </div>
                            </div>
                            {% if user.role.role == DEPTCHAIR %}
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Program</label>
                                    <input type="number" class="form-control" disabled=""
                                        placeholder="{{ user.program}}">
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Program</label>
                                    <input type="number" class="form-control" disabled="" placeholder="   ">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>

        </div>

        <div class="col-md-3 text-center">
            <div class="payment-card " style="box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 5px 8px 0px rgba(0, 0, 0, 0.14),
            0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: rgba(85, 85, 85, 0.12)">
                <div class="">
                    <p class="">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar  text-center" src="{{user.profile.image.url}}" alt="..." style="width: 75%; box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                                    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
                                    0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: rgba(85, 85, 85, 0.12)">
                                <form method="POST" enctype="multipart/form-data">
                                    <fieldset class="form-group ">
                                        {% csrf_token %}
                                        <div>{{p_form|crispy}}</div>
                                        <div class="form-group">
                                            <button class="btn btn-fill btn-primary dim" type="submit">Update</button>
                                        </div>
                                    </fieldset>

                                </form>
                                <h5 class="title">{{ user.first_name}} {{ user.middle_initial}} {{ user.last_name}}
                                    -
                                    {{ user.role}}</h5>
                            </a>
                        </div>
                    </p>
                    <div class="card-description">
                        "Lifelong Learners, Problem Solvers, and Innovators.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}