{% extends "dashboard/base.html" %}
{% block content %}


{% csrf_token %}
<div class="container-fluid justify-content-center bg-dark">
    <div class="col-md-auto ">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <h2 class="account-heading">Hello {{ user.first_name }}!</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center  bg-dark">
    <div class="col-md-auto ">
        <div class="content-section">
            <div class="media">
                <h4>Account Details</h4>
            </div>
            <div class="form-row">
               
                <div class="form-group col-md-6 mb-0">
                    Name : {{ user.first_name}} {{ user.middle_initial}} {{ user.last_name}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    Email : {{ user.email}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    Contact No. : {{ user.contact}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    Role : {{ user.role}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    College : {{ user.college.college}}
                </div>
            </div>
            {% if user.role.role == DEPTCHAIR %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    Program : {{ user.program}}
                </div>
            </div>
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}