{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard/main.css' %}"
    />

    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
  </head>
  <body>
      <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark  bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'register' %}">Register - ACMSA</a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarToggle"
                aria-controls="navbarToggle"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  <!-- <a class="nav-item nav-link" href="#">Login</a> -->
    
                  
                  <a class="nav-item nav-link" href="#">{% now "M d, Y : P"%}</a>
                </div>
              </div>
            </div>
          </nav>
        </header>
    {% load crispy_forms_tags %}
    {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %} {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-auto ">
        <div class="content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Today</legend>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.employee_number | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.course | as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                  {{ form.first_name | as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.middle_initial | as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.last_name | as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.contact | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.email | as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.password1 | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.password2 | as_crispy_field }}
                </div>
              </div>
              
              
              
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">
                Sign Up
              </button>
            </div>
          </form>
          <!-- <div class="border-top pt-3">
            <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
</body>