{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}




  <div class="col-md-12" >
    
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <div class="col-md-6">
            <div class="payment-card">
              <h1>CONTACTS<a href="{% url 'contact-add' %}">  <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i></h1></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="payment-card">
              <h1>SKILLS<a href="{% url 'contact-skill-add' %}">  <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i></h1></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment-card">
            <h1>ENDORSEMENT<a href="{% url 'contact-endorsement-add' %}">  <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i></h1></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment-card">
            <h1>DEDUCTION<a href="{% url 'contact-deduction-add' %}">  <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i></h1></a>
          </div>
        </div>
      </div>
    
  </div>
</div>
{% endblock content %}