section.login {
    height:100vh;
    width:100vw;
}

.image-form-container{
    height:100vh;
    background-image: url("../../img/loginbackground1.jpg"); 
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

.form-container{
    height:100vh;
}

.login-container{
    margin:0;
    padding:0;
    width: 100%;
    background: #fff;
}

.login-card{
    background: #ffffff;
    width: 68%;
    padding: 25px;
    margin: 100px auto;
}

.brand{
    margin:25px;

}

section.login .form-control{
    margin:25px;
    padding:25px;
    color: #a7b1c2;
    border-radius:25px;
    border: none;
    background: #2F4050;
}

section.login .btn-login{
    margin: 25px;
    padding: 15px 25px;
    color: #a7b1c2;
    background: #2F4050;
    border-radius: 25px;
    text-transform: uppercase;

}

section.login #overlay{
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #324e795d; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

@media only screen and (max-width: 768px) {
    .image-form-container{
        display: none;
    }
    .form-container{
    height:100vh;
    background-image: url("../../img/loginbackground1.jpg"); 
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  .login-card{ 
    width:68%;
    padding: 80px 80px;
    margin:25px auto;
    border-radius:25px;
    }
    section.login .form-control, 
    section.login .btn-login,
    .brand{
    margin-left: 0;
    margin-right:0;
    }

}

  