{%load static%}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Loudbox Studios
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <!--For input Number-->
	 
</head>

<body >
        
        <div class="pace  pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
                <div class="pace-progress-inner"></div>
              </div>
              <div class="pace-activity"></div>
              
            </div>
    <div class="wrapper" >
        <nav class="navbar-default navbar-static-side " role="navigation">
            <div class="sidebar-collapse ">
                
                <ul class="nav  " id="side-menu">
                    <li class="nav-header" style="box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 14px 0px rgba(0, 0, 0, 0.12); background: orangered;">
                        <div class="dropdown profile-element "> <span>
                                <img alt="image" class="img-circle" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                                    style="width: 70%" />
                            </span>

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong
                                            class="font-bold">{{user.first_name}} {{user.middle_initial}}.
                                            {{user.last_name}}</strong>
                                    </span> 
                                    <!-- <span class=" text-xs block">{{user.role.role}}</span>  -->
                                </span> </a>

                        </div>

                        
                    </li>
                  
                    <li>
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> <span class="nav-label">Home
                                </span></a>
                    </li>
                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'contact-contact' %}"><i class="fa fa-user"></i> <span class="nav-label">Contact
                                </span></a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'contact-contact' %}"><i class="fa fa-user"></i> <span class="nav-label">Profile
                                </span></a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'contact-group' %}"><i class="fa fa-group"></i> <span class="nav-label">Groups
                                </span></a>
                    </li>
                    <li>
                        <a href="{% url 'job-job' %}"><i class="fa fa-soundcloud"></i> <span class="nav-label">Job
                                </span></a>
                    </li>
                    


                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="white-bg "  >
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0" style="border: 1px solid black; ">
                    <div class="navbar-header ">




                       
                        <a class="navbar-minimalize minimalize-styl-2 btn  " href="#" style="background: black;color: aliceblue;"><i
                                class="fa fa-bars" ></i> </a>



                    </div>
                    
                    <ul class="nav navbar-top-links navbar-right">

                    
                       

                        <li class="dropdown">


                        <li class="divider"></li>

                        <li class="divider"><a href="#"><i class="fa fa-bell" style="color: rgb(3, 3, 3)"></i></a></li>
                      
                
                       
                        
                        <li style="color: rgb(0, 0, 0)">
                            {% now " M d, Y "%}
                        </li>




                        <li>
                            <a href="{% url 'logout'%}" style="color: rgb(5, 5, 5)">
                                <i class="fa fa-sign-out" style="color: rgb(0, 0, 0)"></i> Log out
                            </a>
                        </li>
                        </li>
                    </ul>

                </nav>
            </div>

           


            <div class="row    dashboard-header " style="padding-bottom: 4rem; justify-items: center">
                <div class="container col-md-auto col-md-offset-1">
                    <h1>{{header}}</h1>
                </div>
                <div id="message_container" class="animated fadeInUp"> {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0),
                0px 5px 8px 0px rgba(0, 0, 0, 0.14),
                0px 1px 14px 0px rgba(0, 0, 0, 0.12); ">
                    {{ message }}
                </div>
                {% endfor %} {% endif %}</div>
                <div class="animated fadeInUp">{% block content%} <div class="container"></div> {% endblock%}
                </div>


                
            
            
                
                        


            </div>



            <!--Footer-->
            <div class="footer" >
                <div class="pull-right">
                    
                    <strong>Established</strong> 2020
                </div>
                <div>
                    ©️ QuadraLogix
                </div>
            </div>
             <!--End of the Footer/-->
        </div>

            
               

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

</body>

</html>