{% extends "dashboard/base.html" %}
{% block content %}
<div class=row>
<a href="#">
  <div class="col-md-4">
    <div class="payment-card">
      Jobs
    </div>
  </div>
</a>
<a href="#">
  <div class="col-md-4">
    <div class="payment-card">
      Invites
    </div>
  </div>
</a>
<a href="#">
  <div class="col-md-4">
    <div class="payment-card">
      Useful Informations here 3
    </div>
  </div>
</a>
<a href="#">
  <div class="col-md-4">
    <div class="payment-card">
      Useful Informations here 4
    </div>
  </div>
</a>
</div>
{% endblock content %}
