{% load static %}
<!DOCTYPE html>
{% load crispy_forms_tags%}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="LoudBox Website">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Loudbox | Login</title>

    

</head>

<body>
    
                                                    
                                    <form class="m-t" style="font-size:15px;" role="form" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{form|crispy}}
                                        </div>
                                        <div class="divider row"></div>
                                        <button type="submit" class="btn  block full-width m-b" style="background: linear-gradient(to left, black, rgb(49, 48, 48)); color: aliceblue; font-size:15px;">Login</button>
                                       
                                        <a href="{% url 'password_reset'%}"  style="color: black; font-size:15px;"><small>Forgot password?</small></a>


                                    </form>
                            </body>

</html>